@charset "utf-8";

body ,ul ,li {
	padding: 0;
	margin: 0;
}
html{
	font-size: 10px;
}
body {
	background-color: #f5f5f5;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
hr {
	width: 90%;
	padding: 0;
	margin: 0 auto;
}
li {
	list-style-type: none;
}
.loginBg{
	height: 100%;
	background: url(../img/loginBg.png);
	background-size: cover;
	position: relative;
	z-index: 1;
}
.mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	position: absolute;
	z-index: 2;
}
/*log_in 登陆页面*/
.back .glyphicon-arrow-left {
	font-size: 20px;
	font-weight: 100;
	padding-left: 10px;
	padding-top: 10px;
	color: #32CD32;
}
/*Apply_join_Org*/
.Apply_back {
	background: #32CD32;
	height: 30px;
}

.Apply_back .glyphicon-arrow-left {
	color: #ffffff;
	font-size: 17px;
	padding: 6px;
}

.Apply_back a {
	display: inline-block;
	padding-left: 35%;
	color: #ffffff;
	letter-spacing: 1px;
}

.Apply_back .Self-introduction .introduction {
	width: 100%;
	height: 70px;
	min-height: 20px;
	margin-top: 10px;
	padding: 5px;
	padding-bottom: 56px;
	border: none;
	background: #ffffff;
	overflow-y: hidden;
}

.log_in .log_head {
	text-align: center;
	color: #32CD32;
}

.log_in .log_head h1 {
	font-size: 30px;
	font-weight: bold;
}

.log_in .log_head h2 {
	font-size: 17px;
	font-weight: 590;
	padding-bottom: 20px;
}
.usr_and_pas{
	width: 100%;
	background: #fff;
}
.usr_and_pas div{
	position: relative;
}
.usr_and_pas span{
	font-size: 1.5rem;
	position: absolute;
	color: #a3a3a3;
	top: 0.7rem;
	left: 2rem;
}
.usr_and_pas input{
	border: none;
	height: 35px;
	width: 100%;
	padding-left: 8rem;
	line-height: 35px;
}
.forget{
	text-decoration: none;
	color: #32CD32;
	font-size: 1rem;
	position: absolute;
	right: 1rem;
	top: 0.8rem;
}
.login{
	display: block;
	width: 80%;
	margin: 2rem auto;
	border: 1px solid #32CD32;
	background: #fff;
	height: 30px;
	color: #32CD32;
	font-size: 1.5rem;
	border-radius: 5px;

}