.notiContainer{
	padding-top: 40px;
	padding-bottom: 70px;
}
.notiHeader{
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #5cb85c;
	color: #fff;
	z-index: 99;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}
.left_arrow{
	position: absolute;
	top: 2px;
	left: 5%;
}
.notiHeader a{
	color: #fff;
}
.notiHeader span{
	font-size: 1.5rem;
}
.notiInfo{
	position: absolute;
	left: 50%;
	margin-left: -3rem;
}
.notification-again{
	/* position: absolute; */
	/* z-index: 100; */
	/* top: 1px; */
	/* right: 5%; */
	float: right;
	margin-right: 5%;
	color: #fff;
}
.notification-again:visited{
	color: #fff;
	text-decoration: none;
}
.notification-again:hover{
	color: #fff;
	text-decoration: none;
}
/*notiContent*/
.notiContent{
	padding: 10px 5% 10px;
	background: #fff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}
.notiContent hr{
	margin: 10px auto;
}
.notiContent h4{
	font-size: 1.8rem;
}
.notiSubTitle{
	font-size: 1.2rem;
	color: #5cb85c;
}
.notiTime{
	float: right;
	font-size: 1.2rem;
	color: #999;
}
.notiContent p{
	margin-top: 10px;
	font-size: 1.2rem;
	line-height: 1.3;
	work-break:break-all;
	word-warp:break-word;
}
.notiContentImg img{
	width: 20%;
	margin-right: 2%;
}
.imgRight{
	color: #999;
}
.notiShow{
	position: absolute;
	right: 5%;
	color: #5cb85c;
}
.notiPerson{
	margin-top: 20px;
	padding: 0 5% 20px 0;
	font-size: 1.2rem;
	background: #fff;
}
.notiPerson:after{
	content: "";
	display: block;
	visibility: none;
	height: 0;
	clear: both;
}
.notiPerson span{
	height: 40px;
	line-height: 40px;
}
.notiPerson hr{
	margin: 0 auto;
}
.notiPersonTitle{
	/*position: absolute;*/
	margin-left: 20px;
}
.notiPersonList{
	position: relative;
}
.notiPersonList:after{
	content: "";
	display: block;
	visibility: none;
	height: 0;
	clear: both;
}
.notiPersonNum{
	position: absolute;
	left: 70px;
}
.notiPersonName{
	/*display: inline-block;*/
	/*position: absolute;*/
	float: left;
	width: 70%;
	margin: -35px 10% 0 55px;
}
.notiPersonName1{
	margin-left: 50px;
}
.notiPersonName span{
	float: left;
	width: 53px;
	/*width: 25%;*/
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.notiPersonLeave{
	/*float: left;*/
	margin: -35px 10% 0 55px;
}
.notiPersonLeave label{
	position: relative;
	/*float: left;*/
	width: 23%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-weight: normal;
	color: #000;
}
.notiPersonLeave a{
	position: relative;
	text-decoration: none;
}
.notiPersonLeave a span{
	position: absolute;
	top: -10px;
	right: 0;
	color: #999;
}
/*模态框*/
.bg{
	background: #5cb85c;
	color: #fff;
}
.leaveButton{
	background: #5cb85c;
}
textarea{
	padding: 10px;
}
.modal-body-reply{
	color: #999;
}

/*社员看的通知详情*/
.notiYes,.notiNo{
	float: left;
	margin-top: 10px;
	width: 50%;
	height: 40px;
	border: none;
	line-height: 40px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
	outline: none;
}
.notiYes{
	color: #000;
	background: #fff;
}
.notiNo{
	color: #fff;
	background: #f44a4a;
}
.leaveReason{
	margin-top: 10px;
	padding: 10px 5%;
	color: #999;
	background: #fff;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}
.leaveText{
	width: 100%;
	border: none;
	background: #eee;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, .3) inset;
}
.leaveSend{
	float: right;
	padding-top: 10px;
	padding-right: 20px;
	color: #000;
	border: none;
	background: #fff;
}
#leave-reason .modal-body:after{
	content: "";
	height: 0;
	display: block;
	visibility: none;
	clear: both;
}