*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	font-size: 10px;
}
body{
    position: relative;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
	height: 100%;
	background: #fff;
}
@font-face {font-family: 'iconfont';
    src: url('../fonts/iconfont.eot'); /* IE9*/
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.pDataWarpper{
    min-height: 100%;
    padding-bottom: 70px;
}
.nomove{
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 190px;
}
.pDataTop{
    position: relative;
    z-index: 999;
}
.pDataHeader{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 40px;
    background: rgba(0,0,0,.27);
}
.pDataheaderSlice{
    position: absolute;
    right: 15%;
    font-size: 2rem;
    line-height: 40px;
    color: #fff;
    font-weight: 100;
}
.pDataHeaderPic{
    position:absolute;
    top: 10px;
    right: 5%;
    width: 20px;
    height: 20px;
}
.pDataHeader a{
    position: absolute;
    top: 10px;
    left: 5%;
    color: #fff;
}
.pDataBlog img{
    /*position: absolute;*/
    /*z-index: 0;*/
    width: 100%;
    height: 190px;
}
.pDataIntro{
    position: relative;
}
.pDataIntro>span{
    position: absolute;
    top: -15px;
    left: 23%;
    width: 5px;
    overflow: hidden;
    font-size: 5rem;
    font-weight: 100;
}
.pDataName{
    margin: 15px 15px 20px 20px;
    font-size: 2rem;
    font-weight: 600;
}
.pDataName i{
    position: absolute;
    left: 30px;
    bottom: -30px;
    color: #85ccc9;
}
.pDataContent{
    position: absolute;
    top: 0;
    right: 5%;
    width: 65%;
    font-size: 12px;
}
.pDataNav{
    margin-top: 40px;
    height: 40px;
    border-top: 1px solid #c1c1c1;
    background: #eee;
    box-shadow: 1px .5px 1px rgba(0,0,0,.25) inset;
}
.pDataNav li{
    float: left;
    width: 33.3%;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 7px;
    list-style: none;
}
.pDataNav li:nth-child(1),
.pDataNav li:nth-child(2){
    border-right: 1px solid #a6a6a6;
}
.pDataNav li a{
    color: #a6a6a6;
    text-decoration: none;
}
.pDataNav li img{
    width: 15px;
    height: 15px;
}
.firstpage{
    /*display: none;*/
    margin-top: 10px;
}
.pDataTab{
    position: relative;
}
.pDataTabTitle{
    position: absolute;
    z-index: 2;
    top: -20px;
    left: 50%;
    margin-left: -3.5rem;
    color: #999;
    background: #fff;
}
.pDataTabLine::after{
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    height: 1px;
    content: "";
    background: #999;
}
.pDataTab ul{
    margin: 30px 0;
}
.pDataTab li{
    float: left;
    margin: 10px 5.5%;
    padding: 3px;
    width: 22%;
    color: #999;
    font-size: 1.2rem;
    list-style: none;
    border: 1px solid #999;
}
.pDataTab li span{
    float: right;
}
.pDataTabUp{
    margin-left: 50%;
    transform: translate(-10px,0);
    -webkit-transform: translate(-10px,0);
    font-size: 20px;
    color: #999;
}
.secondpage{
    /*display: none;*/
    /*padding-top: 200px;*/
    height: 500px;
}
.pDataToast{
    display: none;
    position: absolute;
    z-index: 999;
    top: 280px;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    height: 40px;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 5px;
    line-height: 40px;
    color: #fff;
    background: rgba(0, 0, 0, .6);
}
.pDataExplainDown{
    margin-left: 50%;
    transform: translate(-10px,0);
    -webkit-transform: translate(-10px,0);
    font-size: 20px;
    color: #999;
}
.pDataExplain{
    position: absolute;
    top: 30px;
    left: 5%;
    padding: 20px;
    width: 90%;
    border: 1px solid #999;
}
.pDataExp{
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 50%;
    margin-left: -42px;
    font-size: 1.4rem;
    color: #999;
    background: #fff;
}
.pDataExplain li{
    margin-left: 10px;
    font-size: 1.2rem;
}
.pDataExplain li p{
    text-indent: 1em;
}

/*personalData2*/
.pDataChange{
    position: relative;
}
.pDataChange span{
    position: absolute;
    z-index: 2;
    top: -10px;
    left: 50%;
    margin-left: -3.5rem;
    color: #999;
    background: #fff;
}
.pDataChange p::after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    height: 1px;
    content: "";
    background: #999;
}
.pDataTips li{
    float: left;
    width: 19%;
    margin: 20px 0 0 5%;
    padding: 3px 0.5%;
    color: #999;
    font-size: 1.2rem;
    text-align: center;
    list-style: none;
    border: 1px solid #999;
}
.pDataTips li label{
    font-weight: normal;
}
.pDataTips li input{
    display: none;
}
.pDataButton{
    position: absolute;
    top: 260px;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    height: 30px;
    color: #5cb85c;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #5cb85c; 
}
.pDataShow{
    position: relative;
}
.pDataShow>span{
    position: absolute;
    left: 5%;
    top: 260px;
    font-size: 1.2rem;
    color: #999;
}